.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.h-custom {
    height: calc(100% - 73px);
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}

header {
    margin-left: 40%;
    margin-top: 3%;
}

.image {
    height: 200px;
    width: 200px;
    object-fit: fill;
    margin-top: -100px;
    margin-left: 270px;
}

.lottie {
    margin-top: -150px;
}